#summary-bg{
  margin-top: 25px;
  /* background-color: rgba(66, 203, 233, 0.12); */
  padding: 20px;
  border: 1px solid;
  border-radius: 14px;
}
.navbar-nav#studentPage .nav-item {
  margin-left: 2rem;
}

.navbar-nav#studentPage .btn {
  margin-left: 2rem;
}


.navbar-nav#studentPage .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
}

.dropdown-menu#filerDropdown {
  margin-top: 5px;
  width: 300px !important; /* Đảm bảo độ rộng phù hợp */
  max-height: 200px; /* Giới hạn chiều cao tối đa */
  overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá */
}