.navbar-nav#studentPage .nav-item {
  margin-left: 3rem;
}

.navbar-nav#studentPage .btn {
  margin-left: 3rem;
}

.navbar-nav#studentPage .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
}